extends layout

block content
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  form(action="." method="POST" class="form-registration")
    h3 #{alertUserNameUsed}
    label(for="name") Name:
    input(
      type="text"
      id="name"
      name="name"
      class="form-control"
      value=data.name
    )

    label(for="email") Email:
    input(
      type="email"
      id="email"
      name="email"
      class="form-control"
      value=data.email
    )
    h3 #{alertPasswordsDontMatch}
    label(for="password") Password:
    input(
      type="password"
      id="password"
      name="password"
      class="form-control"
      value=data.password
    )

    label(for="password confirm") Password Confirm:
    input(
      type="password"
      id="passwordConf"
      name="passwordConf"
      class="form-control"
      value=data.passwordConf
    )

    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
    )